1.0-Validatie-_en_conformiteitsregels_TPOD/Validaties - kopie/lvbb/stop/imop-context.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- imop-context.xsd Generated by script -->
<xs:schema elementFormDefault="qualified"
   targetNamespace="https://standaarden.overheid.nl/stop/imop/geo/" version="@@@VERSIE@@@"
   xmlns:basisgeo="http://www.geostandaarden.nl/basisgeometrie/v20190901"
   xmlns:geo="https://standaarden.overheid.nl/stop/imop/geo/"
   xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gmlsf="http://www.opengis.net/gmlsf"
   xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:import namespace="http://www.w3.org/XML/1998/namespace"
      schemaLocation="http://www.w3.org/2001/xml.xsd" />


   <xs:element name="Achtergrond" substitutionGroup="geo:GeografischeContext"
      type="geo:AchtergrondType">
      <xs:annotation>
         <xs:documentation> Contextbeschrijving van een GIO die tegen een achtergrond is
            vastgesteld. </xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="AchtergrondType">
      <xs:complexContent>
         <xs:extension base="geo:GeografischeContextType">
            <xs:sequence>
               <xs:element maxOccurs="1" minOccurs="0" name="achtergrondVerwijzing" type="xs:string" />
               <xs:element maxOccurs="1" minOccurs="0" name="achtergrondActualiteit" type="xs:date" />
               <xs:element maxOccurs="unbounded" minOccurs="0" name="contextGIOs" type="xs:anyURI"
                />
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="AchtergrondPropertyByValueType">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" ref="geo:Achtergrond" />
      </xs:sequence>
   </xs:complexType>

   <xs:element name="BerekendeGeometrie" substitutionGroup="geo:GeografischeContext"
      type="geo:BerekendeGeometrieType">
      <xs:annotation>
         <xs:documentation> Context van een GIO die berekend is. </xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="BerekendeGeometrieType">
      <xs:complexContent>
         <xs:extension base="geo:GeografischeContextType">
            <xs:sequence>
               <xs:element maxOccurs="1" minOccurs="1" name="nauwkeurigheid" type="xs:integer" />
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="BerekendeGeometriePropertyByValueType">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" ref="geo:BerekendeGeometrie" />
      </xs:sequence>
   </xs:complexType>

   <xs:element name="GeografischeContext" type="geo:GeografischeContextType">
      <xs:annotation>
         <xs:documentation> Context waartegen een GIO is vastgesteld. Afhankelijk van de manier
            waarop de GIO is vastgesteld kan de context anders zijn. De verschillende mogelijkheden
            zijn vastgelegd in de subklasses. </xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="GeografischeContextType">
      <xs:sequence> </xs:sequence>
   </xs:complexType>
   <xs:complexType name="GeografischeContextPropertyByValueType">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" ref="geo:GeografischeContext" />
      </xs:sequence>
   </xs:complexType>
</xs:schema>
