1.0-Validatie-_en_conformiteitsregels_TPOD/Validaties - kopie/lvbb/stop/imop-geo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- imop-geo.xsd Generated by script -->
<xs:schema elementFormDefault="qualified"
   targetNamespace="https://standaarden.overheid.nl/stop/imop/geo/" version="@@@VERSIE@@@"
   xmlns:basisgeo="http://www.geostandaarden.nl/basisgeometrie/v20190901"
   xmlns:geo="https://standaarden.overheid.nl/stop/imop/geo/"
   xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gmlsf="http://www.opengis.net/gmlsf"
   xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:import namespace="http://www.w3.org/XML/1998/namespace"
      schemaLocation="http://www.w3.org/2001/xml.xsd" />
   <xs:import namespace="http://www.geostandaarden.nl/basisgeometrie/v20190901"
      schemaLocation="Basisgeometrie.xsd" />
   <xs:import namespace="http://www.opengis.net/gml/3.2"
      schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd" />
   <xs:include schemaLocation="imop-context.xsd" />


   <xs:element name="GeoInformatieObjectVaststelling" type="geo:GeoInformatieObjectVaststellingType">
      <xs:annotation>
         <xs:documentation> Serialisatie van de vaststelling van een GIO. Bij een vaststelling moet
            een context worden meegeleverd en de vastgestelde versie. </xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="GeoInformatieObjectVaststellingType">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="1" name="context"
            type="geo:GeografischeContextPropertyByValueType" />
         <xs:element maxOccurs="1" minOccurs="1" name="vastgesteldeVersie"
            type="geo:GeoInformatieObjectVersiePropertyByValueType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="GeoInformatieObjectVaststellingPropertyByValueType">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" ref="geo:GeoInformatieObjectVaststelling"
          />
      </xs:sequence>
   </xs:complexType>

   <xs:element name="GeoInformatieObjectVersie" type="geo:GeoInformatieObjectVersieType">
      <xs:annotation>
         <xs:documentation> Specifieke van een GIO </xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="GeoInformatieObjectVersieType">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="1" name="workID" type="xs:string" />
         <xs:element maxOccurs="1" minOccurs="1" name="expressionID" type="xs:string" />
         <xs:element maxOccurs="1" minOccurs="0" name="eenheidlabel" type="xs:string" />
         <xs:element maxOccurs="1" minOccurs="0" name="eenheidID" type="xs:string" />
         <xs:element maxOccurs="1" minOccurs="0" name="normlabel" type="xs:string" />
         <xs:element maxOccurs="1" minOccurs="0" name="normID" type="xs:string" />
         <xs:element maxOccurs="unbounded" minOccurs="0" name="groepen"
            type="geo:GroepPropertyByValueType" />
         <xs:element maxOccurs="unbounded" minOccurs="1" name="locaties"
            type="geo:LocatiePropertyByValueType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="GeoInformatieObjectVersiePropertyByValueType">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" ref="geo:GeoInformatieObjectVersie" />
      </xs:sequence>
   </xs:complexType>

   <xs:element name="Groep" type="geo:GroepType">
      <xs:annotation>
         <xs:documentation> </xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="GroepType">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="1" name="groepID" type="xs:string" />
         <xs:element maxOccurs="1" minOccurs="1" name="label" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="GroepPropertyByValueType">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" ref="geo:Groep" />
      </xs:sequence>
   </xs:complexType>

   <xs:element name="Locatie" type="geo:LocatieType">
      <xs:annotation>
         <xs:documentation> Een GIO bestaat uit een collectie Locaties. Een Locatie bevat een
            geometrie (begrenzing van een gebied) en kan een naam hebben. Daarnaast heeft iedere
            Locatie een uniek identificatienummer. Eisen: - Van de waardes kwalitatieveNormwaarde en
            kwantitatieveNormwaarde mag er slechts 1 een waarde hebben. - Als van 1
         </xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="LocatieType">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="0" name="naam" type="xs:string" />
         <xs:element maxOccurs="1" minOccurs="1" name="geometrie"
            type="basisgeo:GeometriePropertyByValueType" />
         <xs:element maxOccurs="1" minOccurs="0" name="groepid" type="xs:string" />
         <xs:element maxOccurs="1" minOccurs="0" name="kwantitatieveNormwaarde" type="xs:double" />
         <xs:element maxOccurs="1" minOccurs="0" name="kwalitatieveNormwaarde" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="LocatiePropertyByValueType">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" ref="geo:Locatie" />
      </xs:sequence>
   </xs:complexType>
</xs:schema>
