1.0-Validatie-_en_conformiteitsregels_TPOD/Validaties - kopie/lvbb/stop/imop-data.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified"
  targetNamespace="https://standaarden.overheid.nl/stop/imop/data/" version="@@@VERSIE@@@"
  xmlns:data="https://standaarden.overheid.nl/stop/imop/data/"
  xmlns:geo="https://standaarden.overheid.nl/stop/imop/geo/"
  xmlns:tekst="https://standaarden.overheid.nl/stop/imop/tekst/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:annotation>
    <xs:documentation>Veranderingen tov uitgeleverd 0.98.2-kern</xs:documentation>
    <xs:documentation>2020-01-28 - Toestandsmodellering toegevoegd</xs:documentation>
    <xs:documentation>2020-01-28 - import geo verwijderd</xs:documentation>
    <xs:documentation>2020-02-06 - Intrekking bijgevoegd</xs:documentation>
    <xs:documentation>2020-02-18 - inwerkingOp hernoemd naar juridischWerkendOp</xs:documentation>
    <xs:documentation>2020-02-18 - soortTijdstempel "juridischWerkendOp" toegevoegd, maar
      "inwerkingtredinig" laten staan; zie issue
      https://gitlab.com/koop/STOP/standaard/issues/47</xs:documentation>
    <xs:documentation>2020-02-20 - Statusverlopen verwijderd</xs:documentation>
    <xs:documentation>2020-02-25 - data:juridischWerkendOp en data:geldendOp krijgen kindelement
      data:Periode</xs:documentation>
    <xs:documentation>2020-02-25 - data:ActueleTijdstempels toegevoegd</xs:documentation>
    <xs:documentation>2020-02-25 - Achtergrond en GeoInformatieMutatie verwijderd</xs:documentation>
    <xs:documentation>2020-02-25 - Proefconsolidatie toegevoegd</xs:documentation>
    <xs:documentation>2020-02-27 - data:ActueleTijdstempels weer verwijderd</xs:documentation>
    <xs:documentation>2020-02-28 - soortTijdstempel geldigTot en juridischWerkendTot
      verwijderd</xs:documentation>
    <xs:documentation>2020-03-03 - Proefversies toegevoegd</xs:documentation>
  </xs:annotation>

  <!--
  ================================================ 
    Identificatie                                   
  ================================================ 
  -->
  <xs:element name="ExpressionIdentificatie">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="data:FRBRWork" />
        <xs:element ref="data:FRBRExpression" />
        <xs:element ref="data:soortWork" />
      </xs:sequence>
      <xs:attributeGroup ref="data:agSchemaVersie" />
    </xs:complexType>
  </xs:element>

  <xs:element name="WorkIdentificatie">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="data:FRBRWork" />
        <xs:element ref="data:soortWork" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="FRBRExpression" type="data:dtSTOPidentificatie" />
  <xs:element name="FRBRWork" type="data:dtSTOPidentificatie" />
  <xs:element name="soortWork" type="data:dtWaardeRef" />

  <!--
  ================================================ 
     Metadata-containers                                   
  ================================================ 
  -->
  <xs:element name="BesluitMetadata">
    <xs:complexType>
      <xs:all>
        <xs:element maxOccurs="1" minOccurs="0" ref="data:afkortingen" />
        <xs:element maxOccurs="1" minOccurs="1" ref="data:eindverantwoordelijke" />
        <xs:element maxOccurs="1" minOccurs="0" ref="data:grondslagen" />
        <xs:element maxOccurs="1" minOccurs="0" ref="data:informatieobjectRefs" />
        <xs:element maxOccurs="1" minOccurs="1" ref="data:maker" />
        <xs:element maxOccurs="1" minOccurs="1" ref="data:officieleTitel" />
        <xs:element maxOccurs="1" minOccurs="1" ref="data:onderwerpen" />
        <xs:element maxOccurs="1" minOccurs="1" ref="data:overheidsdomein" />
        <xs:element maxOccurs="1" minOccurs="1" ref="data:rechtsgebieden" />
        <xs:element maxOccurs="1" minOccurs="0" ref="data:redactioneleTitel" />
        <xs:element maxOccurs="1" minOccurs="0" ref="data:soortBesluit" />
        <xs:element maxOccurs="1" minOccurs="0" ref="data:voorkeursafkorting" />
      </xs:all>
      <xs:attributeGroup ref="data:agSchemaVersie" />
    </xs:complexType>
  </xs:element>

  <xs:element name="RegelingMetadata">
    <xs:complexType>
      <xs:all>
        <xs:element maxOccurs="1" minOccurs="0" ref="data:afkortingen" />
        <xs:element maxOccurs="1" minOccurs="1" ref="data:eindverantwoordelijke" />
        <xs:element maxOccurs="1" minOccurs="0" ref="data:grondslagen" />
        <xs:element maxOccurs="1" minOccurs="0" ref="data:maker" />
        <xs:element maxOccurs="1" minOccurs="1" ref="data:officieleTitel" />
        <xs:element maxOccurs="1" minOccurs="1" ref="data:onderwerpen" />
        <xs:element maxOccurs="1" minOccurs="1" ref="data:overheidsdomein" />
        <xs:element maxOccurs="1" minOccurs="0" ref="data:rechtsgebieden" />
        <xs:element maxOccurs="1" minOccurs="0" ref="data:redactioneleTitel" />
        <xs:element maxOccurs="1" minOccurs="1" ref="data:soortRegeling" />
        <xs:element maxOccurs="1" minOccurs="1" ref="data:versienummer" />
        <xs:element maxOccurs="1" minOccurs="0" ref="data:voorkeursafkorting" />
      </xs:all>
      <xs:attributeGroup ref="data:agSchemaVersie" />
    </xs:complexType>
  </xs:element>

  <xs:element name="OfficielePublicatieMetadata">
    <xs:complexType>
      <xs:all>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:afkortingen" />
        <xs:element maxOccurs="1" minOccurs="1" ref="data:eindverantwoordelijke" />
        <xs:element maxOccurs="1" minOccurs="0" ref="data:gepubliceerdOp" />
        <xs:element maxOccurs="1" minOccurs="0" ref="data:grondslagen" />
        <xs:element maxOccurs="1" minOccurs="0" ref="data:informatieobjectRefs" />
        <xs:element maxOccurs="1" minOccurs="1" ref="data:jaargang" />
        <xs:element maxOccurs="1" minOccurs="0" ref="data:maker" />
        <xs:element maxOccurs="1" minOccurs="1" ref="data:ondertekendOp" />
        <xs:element maxOccurs="1" minOccurs="1" ref="data:onderwerpen" />
        <xs:element maxOccurs="1" minOccurs="1" ref="data:publicatieIdentifier" />
        <xs:element maxOccurs="1" minOccurs="1" ref="data:publicatieblad" />
        <xs:element maxOccurs="1" minOccurs="1" ref="data:publicatienummer" />
        <xs:element maxOccurs="1" minOccurs="1" ref="data:publiceert" />
        <xs:element maxOccurs="1" minOccurs="1" ref="data:rechtsgebieden" />
        <xs:element maxOccurs="1" minOccurs="0" ref="data:redactioneleTitel" />
        <xs:element maxOccurs="1" minOccurs="1" ref="data:uitgever" />
      </xs:all>
      <xs:attributeGroup ref="data:agSchemaVersie" />
    </xs:complexType>
  </xs:element>

  <xs:element name="InformatieObjectMetadata">
    <xs:complexType>
      <xs:all>
        <xs:element maxOccurs="1" minOccurs="0" ref="data:heeftBestanden" />
        <xs:element maxOccurs="1" minOccurs="1" ref="data:eindverantwoordelijke" />
        <xs:element maxOccurs="1" minOccurs="1" ref="data:maker" />
        <xs:element maxOccurs="1" minOccurs="1" ref="data:noemer" />
        <xs:element maxOccurs="1" minOccurs="1" ref="data:officieleTitel" />
        <xs:element maxOccurs="1" minOccurs="1" ref="data:publicatieinstructie" />
        <xs:element maxOccurs="1" minOccurs="1" ref="data:soortInformatieobject" />
      </xs:all>
      <xs:attributeGroup ref="data:agSchemaVersie" />
    </xs:complexType>
  </xs:element>

  <!--
  ================================================ 
     Metadata-elementen                                
  ================================================ 
  -->

  <!-- "bevoegd gezag" -->
  <xs:element name="maker" type="data:dtWaardeRef" />
  <xs:element name="eindverantwoordelijke" type="data:dtWaardeRef" />
  <xs:element name="uitgever" type="data:dtWaardeRef" />

  <!-- types -->
  <xs:element name="soortBesluit" type="data:dtWaardeRef" />
  <xs:element name="soortRegeling" type="data:dtWaardeRef" />
  <xs:element name="soortInformatieobject" type="data:dtWaardeRef" />

  <!-- titels -->
  <xs:element name="redactioneleTitel" type="xs:string" />
  <xs:element name="officieleTitel" type="xs:string" />
  <xs:element name="noemer" type="xs:string" />
  <xs:element name="afkortingen">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="data:afkorting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="afkorting" type="xs:token" />
  <xs:element name="voorkeursafkorting" type="xs:token" />
  <!-- publicatie-metadata -->
  <xs:element name="publicatieIdentifier" type="xs:token" />
  <xs:element name="publicatieblad" type="data:dtWaardeRef" />
  <xs:element name="jaargang" type="xs:gYear" />
  <xs:element name="publicatienummer" type="xs:token" />
  <xs:element name="publiceert" type="data:dtSTOPidentificatie" />
  <xs:element name="publicatieinstructie">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="AlleenBekendTeMaken" />
        <xs:enumeration value="Informatief" />
        <xs:enumeration value="TeConsolideren" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="heeftBestanden">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="data:heeftBestand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="heeftBestand">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:Bestand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bestand">
    <xs:complexType>
      <xs:all>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:bestandsnaam" />
        <xs:element maxOccurs="1" minOccurs="1" ref="data:hash" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="hash" type="xs:token" />
  <xs:element name="bestandsnaam" type="xs:token" />
  <xs:element name="gepubliceerdOp" type="xs:date" />
  <xs:element name="ondertekendOp" type="xs:date" />
  <!-- "inhoudelijke" metadata -->
  <xs:element name="rechtsgebieden">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="data:rechtsgebied" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="rechtsgebied" type="data:dtWaardeRef" />
  <xs:element name="overheidsdomein" type="data:dtWaardeRef" />
  <xs:element name="onderwerpen">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="data:onderwerp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="onderwerp" type="data:dtWaardeRef" />

  <xs:element name="versienummer" type="xs:token" />

  <!-- relaties -->
  <xs:element name="TekstReferentie">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="data:uri" />
        <xs:element ref="data:label" />
        <xs:element minOccurs="0" ref="data:eId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="grondslagen">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="data:grondslag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="grondslag">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:TekstReferentie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="informatieobjectRefs">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="data:informatieobjectRef" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="informatieobjectRef" type="data:dtSTOPidentificatie" />
  <xs:element name="uri" type="data:dtSTOPidentificatie" />
  <xs:element name="label" type="xs:token" />
  <xs:element name="eId" type="xs:token" />

  <!--
  ================================================ 
     Procedure                                
  ================================================ 
  -->
  <xs:element name="Procedure">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="data:Procedureverloop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Procedureverloop">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="data:mgContext" />
        <xs:element maxOccurs="1" minOccurs="1" ref="data:soortProcedure" />
        <xs:element maxOccurs="1" minOccurs="1" ref="data:procedurestappen" />
      </xs:sequence>
      <xs:attributeGroup ref="data:agSchemaVersie" />
    </xs:complexType>
  </xs:element>

  <xs:element name="soortProcedure" type="data:dtWaardeRef" />
  <xs:element name="procedurestappen">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="data:Procedurestap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Procedurestap">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="data:soortStap" />
        <xs:element ref="data:voltooidOp" />
        <xs:element maxOccurs="1" minOccurs="0" ref="data:actor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="soortStap" type="data:dtWaardeRef" />
  <xs:element name="voltooidOp" type="xs:date" />
  <xs:element name="actor" type="data:dtWaardeRef" />

  <!--
  ================================================ 
     Consolidatie-informatie in Besluit                            
  ================================================ 
  -->
  <xs:element name="BesluitDoel">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="0" ref="data:BeoogdeRegelgeving" />
        <xs:element maxOccurs="1" minOccurs="0" ref="data:Intrekkingen" />
        <xs:element maxOccurs="1" minOccurs="0" ref="data:Tijdstempels" />
      </xs:sequence>
      <xs:attributeGroup ref="data:agSchemaVersie" />
    </xs:complexType>
  </xs:element>

  <xs:element name="Tijdstempels">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="data:Tijdstempel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="BeoogdeRegelgeving">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="data:BeoogdeRegeling" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Intrekkingen">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="data:Intrekking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Tijdstempel">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:doel" />
        <xs:element maxOccurs="1" minOccurs="1" ref="data:soortTijdstempel" />
        <xs:element maxOccurs="1" minOccurs="0" ref="data:datum" />
        <xs:element maxOccurs="1" minOccurs="1" ref="data:eId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="BeoogdeRegeling">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="data:doel" />
        <xs:element maxOccurs="1" minOccurs="1" ref="data:instrumentVersie" />
        <xs:element maxOccurs="1" minOccurs="1" ref="data:eId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Intrekking">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="data:doel" />
        <xs:element maxOccurs="1" minOccurs="1" ref="data:instrument" />
        <xs:element maxOccurs="1" minOccurs="1" ref="data:eId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="soortTijdstempel" type="data:dtTijdstempeltype" />
  <xs:simpleType name="dtTijdstempeltype">
    <xs:restriction base="xs:token">
      <xs:enumeration value="inwerkingtreding">
        <xs:annotation>
          <xs:documentation>Deze waarde "inwerkingtreding" is hier nog aanwezig vanwege backwards
            compabiliteit met 0.98-kern</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="geldigVanaf" />
      <xs:enumeration value="juridischWerkendVanaf" />
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="instrument" type="data:dtSTOPidentificatie" />
  <xs:element name="instrumentVersie" type="data:dtSTOPidentificatie" />
  <xs:element name="datum" type="xs:date" />

  <!-- doel wordt ook gebruikt voor Toestanden en Proefconsolidaties -->
  <xs:element name="doel" type="data:dtDoelidentificatie" />

  <!--
  ================================================ 
     Geldende regelgeving                               
  ================================================ 
  -->

  <xs:element name="ConsolidatieIdentificatie">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="data:FRBRWork" />
        <xs:element ref="data:soortWork" />
        <xs:element ref="data:isConsolidatieVan" />
        <!-- voor latere STOP-versie
        <xs:element ref="data:isTijdelijkDeelVan" minOccurs="0" maxOccurs="1"/>
        -->
      </xs:sequence>
      <xs:attributeGroup ref="data:agSchemaVersie" />
    </xs:complexType>
  </xs:element>

  <xs:element name="isConsolidatieVan">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="data:WorkIdentificatie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- voor latere STOP-versie: aanwijzen van container waar gedeeltelijke inwerkingtreding wordt bepaald -->
  <xs:element name="isTijdelijkDeelVan">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="data:WorkIdentificatie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!--
  ================================================ 
     Toestand, Proefversie en Proefconsolidatie 
  ================================================ 
  -->

  <xs:element name="Toestanden">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="data:mgContext" />
        <xs:choice maxOccurs="unbounded" minOccurs="1">
          <xs:element ref="data:BekendeToestand" />
          <xs:element ref="data:ToestandMetSamenloop" />
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="data:agSchemaVersie" />
    </xs:complexType>
  </xs:element>

  <xs:element name="BekendeToestand">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="data:mgToestandGeneriek" />
        <xs:group maxOccurs="1" minOccurs="1" ref="data:mgToestandInhoud" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ToestandMetSamenloop">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="data:mgToestandGeneriek" />
        <xs:group maxOccurs="unbounded" minOccurs="2" ref="data:mgToestandInhoud" />
        <xs:element ref="data:samenloopstatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:group name="mgToestandGeneriek">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" ref="data:FRBRExpression" />
      <xs:element maxOccurs="unbounded" minOccurs="1" ref="data:gerealiseerdeDoelen" />
      <xs:element maxOccurs="1" minOccurs="1" ref="data:geldigheid" />
    </xs:sequence>
  </xs:group>
  
  <xs:element name="Proefversies">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="data:mgContext" />
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="data:Proefversie" />
      </xs:sequence>
      <xs:attributeGroup ref="data:agSchemaVersie" />
      
    </xs:complexType>
  </xs:element>
  
  <xs:element name="Proefversie">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:gerealiseerdeDoelen" />
        <xs:element maxOccurs="1" minOccurs="1" ref="data:instrumentVersie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="Proefconsolidaties">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="data:mgContext" />
        <xs:choice maxOccurs="unbounded" minOccurs="1">
          <xs:element ref="data:BekendeProefconsolidatie" />
          <xs:element ref="data:ProefconsolidatiedMetSamenloop" />
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="data:agSchemaVersie" />
    </xs:complexType>
  </xs:element>

  <xs:element name="BekendeProefconsolidatie">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="data:mgProefconsolidatieGeneriek" />
        <xs:group maxOccurs="1" minOccurs="1" ref="data:mgToestandInhoud" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ProefconsolidatiedMetSamenloop">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="data:mgProefconsolidatieGeneriek" />
        <xs:group maxOccurs="unbounded" minOccurs="2" ref="data:mgToestandInhoud" />
        <xs:element ref="data:samenloopstatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:group name="mgProefconsolidatieGeneriek">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" ref="data:FRBRExpression" />
      <xs:element maxOccurs="unbounded" minOccurs="1" ref="data:gerealiseerdeDoelen" />
    </xs:sequence>
  </xs:group>

  <xs:group name="mgToestandInhoud">
    <xs:sequence>
      <xs:element ref="data:instrumentVersie" />
      <!-- TODO: revisies niet in versie @@@VERSIE@@@ van de XML-serialisatie 
          <xs:element ref="data:revisies" minOccurs="0" maxOccurs="unbounded"/> -->
    </xs:sequence>
  </xs:group>

  <xs:element name="gerealiseerdeDoelen">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="data:doel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="samenloopstatus" type="data:wlSamenloopstatus" />

  <xs:simpleType name="wlSamenloopstatus">
    <xs:restriction base="xs:token">
      <xs:enumeration value="nogNietOntvangen" />
      <xs:enumeration value="juridischOndoenlijk" />
      <xs:enumeration value="nietVoorgenomen" />
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="geldigheid">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="data:Geldigheidsperiode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Geldigheidsperiode">
    <xs:complexType>
      <xs:all>
        <xs:element ref="data:juridischWerkendOp" />
        <xs:element ref="data:geldigOp" />
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="juridischWerkendOp">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:Periode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="geldigOp">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="data:Periode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Periode">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="0" ref="data:vanaf" />
        <xs:element maxOccurs="1" minOccurs="0" ref="data:tot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="vanaf" type="xs:date" />
  <xs:element name="tot" type="xs:date" />
  
  <!--
  ================================================ 
     generiek                               
  ================================================ 
  -->
  <!-- ag -->
  <xs:attributeGroup name="agSchemaVersie">
    <xs:attribute name="schemaversie" type="data:dtSchemaVersie" use="optional" />
  </xs:attributeGroup>

  <!-- mg -->
  <xs:group name="mgContext">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" ref="data:bekendOp" />
      <xs:element maxOccurs="1" minOccurs="0" ref="data:ontvangenOp" />
    </xs:sequence>
  </xs:group>
  <xs:element name="bekendOp" type="xs:date" />
  <xs:element name="ontvangenOp" type="xs:date" />

  <!-- datatypes -->
  <xs:simpleType name="dtSchemaVersie">
    <xs:restriction base="xs:token" />
  </xs:simpleType>

  <xs:simpleType name="dtDoelidentificatie">
    <xs:restriction base="data:dtSTOPidentificatie" />
  </xs:simpleType>

  <xs:simpleType name="dtSTOPidentificatie">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>

  <xs:simpleType name="dtWaardeRef">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>

</xs:schema>
